doctype html
html
  head
    title mdocs
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300', rel='stylesheet', type='text/css')
    if prod
        link(type='text/css', rel='stylesheet', href='style/main.min.css')
    else
        link(type='text/css', rel='stylesheet', href='style/main.css')
  body

    include includes/navbar

    .content(style="height: 100%;")


    script(src='https://cdn.firebase.com/js/client/1.0.6/firebase.js')
    script(src='main.js')
    script(src='vendor/bootstrap.min.js')